form .form-control{
    height: 45px;
    border-radius: 3px;
    /* color: rgba(2, 0, 20, 0.5); */
}
form .btn-primary{
    height: 48px;
    border-radius: 3px;
}
.open_model{
    text-align: right;
}
.open_model form{
    text-align: left !important;
}
td a{
    padding: 3px 10px;
    margin-right: 10px;
    border-radius: 2px;
}